
*{margin: 0px;
  padding: 0px;}
  
  body{background:#ffffff;}
  
  nav{
      width: 100%;
      display: grid;
      grid-template-columns: 1fr 1fr 1fr;
      position:fixed;
      background-color: white;
      padding:  0px;
  }
h1,h2,h3 {
  margin: 0.5rem 0;
}
h1 {
    
  font-size: 1.5rem;
}
h2 {text-align: center;
  font-size: 1.2rem;
}
h3 {
  font-size: 1rem;
}
  
  
  .carritoUsuario{
      padding-top: 5px;
      padding-right: 20px;
      list-style: none;
      display: flex;
      gap: 30px;
      color:black;
      justify-content: end;
      
  
  }
  .carrito{
      position: relative;
      text-shadow: 1px 1px 1px;
      padding-top: 28px;
      padding-right: 15px;
      font-size: 30px;
      padding-left: 5px;
  }
 
  .carrito:hover{
      padding-left: 0px;
      position: static;
      font-size: 35px;
      color:#ffd664;
  }
  .logo{
      display: flex;
      justify-content: center;
      
  }
  .imgLogo{
      border: 1px solid #FFD664;
      border-radius: 70px;
  }
  img{
      
      margin:10px;
      width: 130px;
      height: auto;
      
  }
  .linksRopa{
      list-style: none;
      display: flex;
      padding-left: 25px;
      padding-right: 10px;
      gap: 25px;
  }
  
  
  .linkRopa{
      font-size: 22px;
      text-shadow: 1px 1px 1px;
      padding-top: 35px;
      padding-left: 12px;
      padding-right: 10px;
      
  }
  .linkRopa a{
      text-decoration: none;
      color: black;
  }
  
  .linkRopa a:hover{
      color:#ffd664;
      text-shadow:2px 2px 2px ;
      
  }
  /* articulos */
  #womanShop{
      padding-top: 100px;
      text-align: center;
  }
  #manShop{
      padding-top: 100px;
      text-align: center;
  }
  .contenedorArticulos{
      background-color: whitesmoke;
      font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
      font-size: 20px;
  }
  .menuCarrito{
      display: grid;
      grid-template-columns: 1fr 1fr 1fr ;
      /* border: 1px solid black; */
      
  }
  .cardArticulo{
      background-color: white;
      border: 1px solid rgb(179, 179, 179);
      border-radius: 10px;
      margin: 10px;
      padding: 20px;
      margin-top:10px;
      text-align: center;
      
  }
  .cardArticulo img{
      width: 70%;
      border: 1px solid black;
      border-radius: 10px;
  }
  /* hero */
  #tituloHero{
      
      font-size: 60px;
      text-align: center;
      color: #FFD664;
      text-shadow: 1px 1px 2px rgb(151, 151, 151) ;
  }
  #titulo2Hero{
      padding: 20px;
      font-size: 30px;
      text-align: center;
      text-shadow: 1px 1px 2px ;
      color: #FFD664;
      text-shadow: 1px 1px 2px rgb(104, 103, 103) ;
  }
  #titulo3Hero{
      color: gray;
      text-shadow: 1px 1px 2px rgb(200, 200, 200) ;
      padding: 10px;
  }

  .heroImages{
      
      display:flex;
      justify-content: space-around;
      padding-top:120px;
      height: 100%;
      background-color: whitesmoke;
  }
  .imgHeroman{
      
      margin-bottom: 0px;
      width:400px;
      height: auto;
      border-radius: 500px;
      box-shadow: 7px 7px 4px rgba(0, 0, 0, 0.3);
      align-items: center;
      
      
      
  }
  .contenedor{
      display: flex;
      flex-direction: column;

  }
  .imgHerowoman{
      
      margin-bottom: 0px;
      width:400px;
      height: auto;
      border-radius: 500px;
      box-shadow: 7px 7px 4px rgba(0, 0, 0, 0.3);
      
      
  }

  .boton{
      font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
      border: 1px solid #ffd664;
      background: #FFD664;
      box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.3);
      border-radius: 10px;
      padding:25px 50px;
      margin: 20px 0px 0px 105px;
      margin-bottom: 29px;
  }
  .boton2{
      font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
      border: 1px solid #ffd664;
      background: #FFD664;
      box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.3);
      border-radius: 10px;
      padding:25px 50px;
      margin: 20px 0px 0px 120px;
      margin-bottom: 29px;
  }
  .boton:hover{
      background-color: #e4c46c;
  }
  .boton1{
      font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
      border: 1px solid #ffd664;
      background: #FFD664;
      box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.3);
      border-radius: 10px;
      padding:20px 40px;
      margin: 10px;
      margin-bottom: 29px;
  }
  .boton1:hover{
      background-color: #e4c46c;
      padding:20px 50px;
  }
 
  
  .boton a{
      text-decoration: none;
      color: black
  }
  .textHero{
      padding-top:60px;
      text-align: center;
      box-shadow: 1x 1x 1px black;
      background-color:whitesmoke;
      height : auto;
      margin: 0px;

      
  }
  
  
  /* carrito */
  .menu-carrito{
      padding: 30px;
      
      margin-top: 120px;
      position:fixed ;
      margin-left: 83%;
      border-radius: 10px;
      background-color: #f8df9c;
      box-shadow: 2px 2px 2px black;
  }
  
  .menu-user{
      display: flex;
      flex-direction: column;
      padding: 20px;
      border-radius: 10px;
      background-color: #ffe7a4;
      box-shadow: 2px 2px 2px black;
      margin-top: 120px;
      position:fixed ;
      right: 0px;
      z-index: 100;
      
      
  }
.productos{
    padding-top: 120px;
    /* margin:0px 30px; */
    display:grid;
    grid-template-columns: 73% 1fr  ;
    border-radius: 10px;
}
.productos-carrito{
    display: flex;
    padding-bottom: 10px;
    
    justify-content: space-between;
    min-width: 100px;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    font-size: 15px;
    margin: 0px;
    
}
.productos-carrito2{
    display: flex;
    padding: 10px;
    padding-bottom: 10px;
    border: 1px solid #FFD664;
    border-radius: 10px;
    margin: 4px;
    justify-content: space-between;
    min-width: 100px;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    font-size: 15px;
    box-shadow: 1px 1px 1px black;
    /* margin: 0px; */
    
}
.contenedorCarrito{
    background-color: whitesmoke;
}
.nombreCarrito{
    width: 85px;
    font-size: 13px;
    text-align: left;
    
}
.carrito1{
    margin-top: 10px;
    background-color: white;
    padding:50px;
    width: 260px;
    border: 1px solid #FFD664;
    border-radius: 10px;
    
    
    
}
.ul{
    max-width: 10px;
    
}
.compra {
    margin:0px;
    padding: 25px;
    margin-right: 8px;
    margin-top: px;
    right: 0px;
    top: 0px;
    font-size: 35px;
    list-style-type: none;
    position: fixed;
    
}
.compra:hover{
    color: #FFD664;
}
.botonCarro{
    background-color: #FFD664;
    border-radius: 10px;
    border: 1px solid #FFD664;
    box-shadow: 1px 1px 2px black;
    padding: 5px 10px;
    
}
.botoncarrito{
    display: none;
    list-style-type: none;
    font-size: 25px;
    position: fixed;
    bottom:0px;
    right:0px;
    margin:35px;
}
#carro{
    background-color: whitesmoke;
}
/*0 a 640*/
@media screen and (max-width:640px){
    nav{
        height: 60px;
        
    }
    .linkRopa{
        font-size: 15px;
        padding: 0px;
        padding-top:20px;
        
    }
    .carrito{
        font-size: 20px;
        padding-top: 10px;
    }
    img{
        width: 50px;
    }
    .productos{
        grid-template-columns: 1fr;
    }
    .menuCarrito{
      grid-template-columns: 1fr 1fr;
    }
    .heroImages{
        flex-direction: column;
        padding: 100px;
        padding-top: 50px;
        width: auto;
        height:490px;
        align-items: center;
        box-shadow: 4px 1px 14px black;
    }
    .contenedor{
        flex-direction: row;
        padding: 10px;
        
    }
    .imgHerowoman{
        width:80px;
        height: 80px;
        padding: 0px;
    }
    .imgHeroman{
        width: 80px;
        height: 80px;
    }
    .textHero{
        width: 260px;
        align-content: center;
    }
    #tituloHero{
        /* width:250px; */
        font-size: 28px;
        text-align: center;
        
    }
    #titulo2Hero{
        /* width:100px; */
        font-size: 20px;
        text-align: center;
    }
    #titulo3Hero{
        /* width:100px; */
        font-size: 10px;
        text-align: center;
    }
    a .boton{
        padding: 10px;
        width: 80px;
        padding-right: 0px;
        margin: 20px 0px 0px 40px;
    }
    a .boton2{
        padding:10px;
        width: 80px;
        padding-right: 0px;
        margin: 20px 0px 0px 40px;
        
    }
    .botoncarrito{
    display:block;
    color: #050505;
    bottom:0px
    }
    
    
    /* .botoncarrito2{
    display:block;
    color: red;
    } */
    
    
    .boton1{
        padding: 10px;
        color: black;
    }
    .boton1:hover{
        padding:10px;
        background-color: #f8df9c;
    }

}

@media screen and (min-width:1920px){
    .heroImages{
        height: 975px;
        
    }
    .imgHerowoman{
        width: 600px;
        margin: 40px;
        margin-top: 70px;
    }
    .imgHeroman{
        margin: 40px;
        width: 600px;
        margin-top: 70px;
    }
    .textHero{
        padding-top: 130px;
    }
    #tituloHero{
        
        font-size: 75px;
        padding: 20px;
    }
    #titulo2Hero{
       font-size: 50px;
       padding: 20px;
    }
    #titulo3Hero{
        font-size: 30px;
        padding: 20px;
    }
    a .boton{
        width: 300px;
       font-size: 20px;
       margin-left: 185px;
    }
    a .boton2{
        font-size: 20px;
        width: 300px;
        margin-left: 200px;
    }
    .contenedorCarrito{
        
        
        
    }
    .carrito1{
        margin-top: 10px;
        background-color: white;
        padding:px;
        width: 390px;
        border: 1px solid #FFD664;
        border-radius: 10px;
        
    
    
    }
}


